// -------------------------
// max 450
// -------------------------

@media (max-width: 450px) {
  // -------------------------
  // Common
  // -------------------------
  .section-title {
    font-size: 1.1rem;
  }

  // -------------------------
  // more
  // -------------------------
  .more {
    font-size: .8rem;
    width: 130px;
    margin: 10px -55px 0 auto;
  }

  // ------------------------
  // main-visual
  // ------------------------
  .main-visual-text {
    font-size: 1rem;
  }

  // ------------------------
  // category
  // ------------------------
  .category-grid {
    p {
      font-size: .75rem;
    }
    img {
      width: 15px;
    }
  }

  // ------------------------
  // shop-item
  // ------------------------
  .item-details {
    font-size: .7rem;
    height: 3.5rem;
    .sale-price {
      font-size: .6rem;
    }
  }

  // ------------------------
  // sale
  // ------------------------
  .sub-title {
    font-size: .8rem;
  }
  // ------------------------
  // ranking
  // ------------------------
  .ranking-title {
    font-size: 1rem;
  }

  // -------------------------
  // info
  // -------------------------
  #info-banner {
    .section-title {
      top: 10px;
    }
  }
  .info-text {
    font-size: .8rem;
    width: 100px;
    bottom: 5px;
    right: 0;
  }

  // -------------------------
  // news
  // -------------------------
  .news-wrap li {
    font-size: .8rem;
  }

  // -------------------------
  // sns
  // -------------------------
  .sns-wrap {
    .sns-icon {
      font-size: 28px;
    }
  }
  .sns-item {
    font-size: .8rem;
  }
}