$accent-color: #fffbcc;
$main-color: #707070;
$border-color: #cfcece;
$bg-color: #fff;
$sale-color: #eb3c10;

#news,
#inquiry {
  padding-top: 70px;
}

form {
  color: $main-color;
  font-family: "Noto Serif JP", serif;
  padding: {
    top: 20px;
    bottom: 40px;
  }
}

.form-mb {
  margin-bottom: 14px;
}
label {
  font-size: 1.1rem;
  margin-bottom: 10px;
  display: block;
}

.form-text {
  background: rgba(255, 255, 255, .8);
  border: solid 1px #fff;
  border-radius: 5px;
  font-size: 1.5rem;
}

.text-w {
  width: 100%;
  max-width: 300px;
}
.textarea-w {
  width: 100%;
  max-width: 500px;
  height: 6rem;
}

input[type="submit"] {
  border: none;
  line-height:1;
}