$accent-color: #fffbcc;
$main-color: #707070;
$border-color: #cfcece;
$bg-color: #fff;
$sale-color: #eb3c10;

// -------------------------
// max 450
// -------------------------

@media (max-width: 450px) {
  // -------------------------
  // Common
  // -------------------------
  .section-title {
    font-size: 1.1rem;
  }
  
  // -------------------------
  // more
  // -------------------------
  .more {
    font-size: .8rem;
    width: 130px;
    margin: 10px -55px 0 auto;
  }

  // -------------------------
  // header
  // -------------------------
  #header {
    position: fixed;
    img {
    width: 250px;
    bottom: -6px;
    }
  }

  // -------------------------
  // hamburger menu
  // -------------------------
  .hamburger-menu {
    right: 13.5%;
  }

  .portfolio-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: .5px;
  }

  // ------------------------
  // main-visual
  // ------------------------
  .main-visual-text {
    font-size: 1rem;
  }
  
  // ------------------------
  // feature
  // ------------------------
  .feature-text {
    font-size: .8rem;
    &-img {
      width: 45px;
    }
  }

  // ------------------------
  // category
  // ------------------------
  .category-grid {
    p {
      font-size: .75rem;
    }
    img {
      width: 15px;
    }
  }

  // -------------------------
  // info
  // -------------------------
  #info-banner {
    .section-title {
      top: 10px;
    }
  }
  .info-text {
    font-size: .8rem;
    width: 100px;
    bottom: 5px;
    right: 0;
  }

  // -------------------------
  // news
  // -------------------------
  .news-wrap li {
    font-size: .8rem;
  }

// -------------------------
// footer
// -------------------------
#footer {
  padding-bottom: 0;
  .site-nav {
    & i {
      margin-right: 5px;
    }
  }
}
.footer-nav {
  font-size: .8rem;
}

#copy {
  font-size: .6rem;
}

.address {
    margin-bottom: 10px;
    &-item {
      margin-right: 15px;
    }
    & p {
      margin-bottom: 10px;
    }
  }
}

// -------------------------
// @media min 650
// -------------------------
@media (min-width: 650px) {
  // #feature-banner {
  //   h2 {
  //     font-size: 1.5rem;
  //   }
  //   .feature-text-img {
  //     width: 70px;
  //   }
  // }
  #feature-banner {
    h2 {
      font-size: 1.8rem;
    }
    .feature-text-img {
      width: 80px;
    }
  }
}

#news,
#question,
#inquiry,
#info,
.category-pt {
  padding-top: 70px;
}




// -------------------------
// inquiry form
// -------------------------
form {
  color: $main-color;
  font-family: "Noto Serif JP", serif;
  padding: {
    top: 20px;
    bottom: 40px;
  }
}

.form-mb {
  margin-bottom: 14px;
}
label {
  font-size: 1.1rem;
  margin-bottom: 10px;
  display: block;
}

.form-text,
.button {
  background: rgba(255, 255, 255, .8);
  border: solid 2px #fff;
  border-radius: 5px;
  font-size: 1.5rem;
}

.text-w {
  width: 100%;
  max-width: 300px;
}
.textarea-w {
  width: 100%;
  max-width: 500px;
  height: 6rem;
}

.button {
  color: #b14e07;
  border: 2px solid #dbd2cb;
  line-height:1;
  background: $accent-color;
  padding: 5px 10px;
  font-size: 1rem;
  transition-duration: .2s;
  &:hover {
    opacity: .7;
    text-decoration: underline;
    transition-duration: .2s;
  }
}
.inquiry-vh {
  position: relative;
  height: 100vh;
}
.footer-inquiry {
  position: absolute;
  bottom: 0;
}

// -------------------------
// info
// -------------------------

#info {
  .section-title {
    position: relative;
    margin-bottom: 40px;
  }
  .shop-name {
    margin-bottom: 20px;
    font-size: 1.1rem;
  }
  .info-map {
    width: 100%;
    margin-bottom: 20px;
  }
}

// -------------------------
// @media min 1000
// -------------------------
@media (min-width: 1000px) {

  .wrapper {
    width: 75%;
  }

// -------------------------
// header
// -------------------------
.desktop-nav {
  display: block;
  line-height: 40px;
  font-size: .85rem;
  li {
    margin-left: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.pc-nav {
  display: flex;
}

.mobile-nav {
display: none;
}
  
  #header .header-wrap {
    width: 75%;
  }

// -------------------------
// banner
// -------------------------
  #feature-banner,
  #sale-banner {
    max-width: 800px;
  }
  
  .white-bg {
    width: 100%;
    &-inner {
      width: 75%;
    }
  }

  .info-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .info-map {
    width: 100%;
  }
  .address-wrap {
    width: 400px;
  }
  #info .shop-name {
    margin-bottom: 40px;
  }
}


