$border-color: #cfcece;
$main-color: #707070;
$sale-color: #eb3c10;



.border {
  border-bottom: 1px dotted $border-color;
  margin: {
    top: 15px;
    bottom: 15px;
  }
}

#select,
#sale,
.ranking-pt,
#feature {
  padding-top: 70px;
}
.section-title {
  margin-bottom: 15px;
}
.sub-title {
  margin-bottom: 15px;
}
.shop-item-wrap {
  width: 100%;
  border: none;
}
.shop-item-wrap-desk-top {
  display: block;
}
.shop-item-wrap-flex {
  flex-direction: column;
}
.shop-item {
  position: relative;
  width: 30%;
  border: 1px solid $main-color;
}
.details-text {
  font-size: .95rem;
}
a {
  display: flex;
  &:hover .item-details {
    border-bottom: solid 1px $main-color;
  }
}

.price-text  {
  display: inline-block;
  margin-top: 5px;
  font-size: 1.2rem;
  color: $main-color;
}
.sale-price {
  color: $sale-color;
}
.details-wrap {
  margin-left: 20px;
  .item-details {
    font-size: 1.1rem;
    height: 1.5rem;
    margin-bottom: 15px;
  }
  .price {
    font-size: 1rem;
    margin-bottom: 15px;
  }
}

#sale {
  .section-title {
    margin-bottom: 6px;
  }
}





// -------------------------
// ranking
// -------------------------
#kitchen,
#table,
#dining,
#sofa,
#chair,
#bed,
#bath,
#storage,
#illumination,
#others {
  padding-top: 100px;
  margin-top: -100px;
}


// -------------------------
// feature
// -------------------------
.feature-main-visual {
  width: 100%;
  padding: {
    top: 5%;
    bottom: 5%;
  }
  position: relative;
  background: #fff;
  .feature-tomato-img {
    width: 70%;
    position: relative;
    margin: 0 auto;
  }
  .feature-text {
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    &-left {
      top: 20%;
    }
    &-right {
      top: 70%;
    }
    &-img {
      width: 60px;
    }
  }
}
.feature-explanation {
  font-size: 1.1rem;
}
.feature-main-title {
  width: 75%;
}

// -------------------------
// @media min 900
// -------------------------

@media (min-width: 900px) {

// -------------------------
// common
// -------------------------
  .wrapper {
    width: 75%;
  }
  .details-text {
    font-size: .85rem;
  }

// -------------------------
// header
// -------------------------
.desktop-nav {
  display: block;
  font-size: .85rem;
  line-height: 40px;
  li {
    margin-left: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.pc-nav {
  display: flex;
  i {
    line-height: 40px;
    }
  }
  #header .header-wrap {
    width: 75%;
  }
  
  .ranking-main-title {
    width: 75%;
  }
  

  .mobile-nav {
  display: none;
  }
// -------------------------
// white-bg
// -------------------------
  .white-bg {
    width: 100%;
    &-inner {
      width: 75%;
    }
  }

  


  #feature-banner,
  #sale-banner {
    max-width: 800px;
  }
  #feature-banner {
    h2 {
      font-size: 1.8rem;
    }
    .feature-text-img {
      width: 80px;
    }
  }

 .shop-item-wrap-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .shop-item-wrap {
    width: 50%;
  }

  #feature .feature-text {
    font-size: 2.2rem;
  }
}

// -------------------------
// @media min 1000
// -------------------------

@media (min-width: 1100px) {
  .details-text {
    font-size: 1rem;
  }
}