$border-color: #cfcece;
$main-color: #707070;
$sale-color: #eb3c10;


#select,
#sale,
.ranking-pt,
#feature,
#category-item {
  padding-top: 80px;
}
.section-title {
  margin-bottom: 15px;
}
.sub-title {
  margin-bottom: 15px;
}

// -------------------------
// shop-item
// -------------------------

.shop-item-wrap {
  width: 100%;
  border: none;
  margin-bottom: 30px;
}
.shop-item-wrap-desk-top {
  display: block;
}
.shop-item-wrap-flex {
  flex-direction: column;
}
.shop-item {
  position: relative;
  width: 30%;
}
.details-text {
  font-size: .95rem;
}
a {
  display: flex;
  &:hover .item-details {
    border-bottom: solid 1px $main-color;
  }
}

.price-text  {
  display: inline-block;
  margin-top: 5px;
  font-size: 1.2rem;
  color: $main-color;
}
.sale-price {
  color: $sale-color;
}
.details-wrap {
  margin-left: 20px;
}
.item-details {
  font-size: 1.1rem;
  height: 1.5rem;
  margin-bottom: 15px;
}
.price {
  font-size: 1rem;
  margin-bottom: 15px;
}

#sale {
  .section-title {
    margin-bottom: 6px;
  }
}

// -------------------------
// ranking
// -------------------------
 .ranking-wrap {
  padding-top: 100px;
  margin-top: -100px;
  margin-bottom: 25px;
}

// -------------------------
// feature
// -------------------------
.feature-main-visual {
  width: 100%;
  padding: {
    top: 5%;
    bottom: 5%;
  }
  position: relative;
  background: #fff;
  .feature-tomato-img {
    width: 70%;
    position: relative;
    margin: 0 auto;
  }
  .feature-text {
    color: #fff;
    position: absolute;
    font-size: 1.5rem;
    &-left {
      top: 20%;
    }
    &-right {
      top: 70%;
    }
    &-img {
      width: 60px;
    }
  }
}
.feature-explanation {
  font-size: 1.1rem;
}
.feature-main-title {
  width: 75%;
}

// -------------------------
// max 450
// -------------------------

@media (max-width: 450px) {
  // -------------------------
  // Common
  // -------------------------
  // .section-title {
  //   font-size: 1.1rem;
  // }
  
  // // -------------------------
  // // header
  // // -------------------------

  // #header {
  //   position: fixed;
  //   img {
  //   width: 250px;
  //   bottom: -6px;
  //   }
  // }


  // // -------------------------
  // // hamburger menu
  // // -------------------------
  // .hamburger-menu {
  //   right: 13.5%;
  // }

  // .portfolio-icon {
  //   width: 20px;
  //   height: 20px;
  //   position: absolute;
  //   left: 15px;
  //   top: .5px;
  // }

  // ------------------------
  // main-visual
  // ------------------------
  // .main-visual-text {
  //   font-size: 1rem;
  // }
  
  // ------------------------
  // feature
  // ------------------------
  .feature-main-visual {
    .feature-text {
      font-size: 1.1rem;
      // &-img {
      //   width: 45px;
      // }
    }
  }

  .feature-explanation {
    font-size: 1rem;
  }

  // ------------------------
  // category
  // ------------------------
  // .category-grid {
  //   p {
  //     font-size: .75rem;
  //   }
  //   img {
  //     width: 15px;
  //   }
  // }

  // ------------------------
  // shop-item
  // ------------------------
  .item-details {
    height: 3rem;
    margin-bottom: 0;
  }
  a {
    &:hover .item-details {
      border-bottom: none;
    }
  }

  .price {
    font-size: .8rem;
  }


.details-text {
  font-size: .8rem;
}

.price-text  {
  font-size: 1.1rem;
}
.item-details {
  font-size: 1rem;
}
.price {
  font-size: .8rem;
}
// ------------------------
// sale
// ------------------------
.sub-title {
  font-size: .8rem;
}
// ------------------------
// ranking
// ------------------------
.ranking-title {
  font-size: 1rem;
}

}
// // -------------------------
// // footer
// // -------------------------
// #footer {
//   padding-bottom: 0;
//   .site-nav {
//     & i {
//       margin-right: 5px;
//     }
//   }
// }
// .footer-nav {
//   font-size: .8rem;
// }

// #copy {
//   font-size: .6rem;
// }

// .address {
//     margin-bottom: 10px;
//     &-item {
//       margin-right: 15px;
//     }
//     & p {
//       margin-bottom: 10px;
//     }
//   }
// }
// -------------------------
// @media min 1000
// -------------------------

@media (min-width: 1000px) {

// -------------------------
// common
// -------------------------
  // .wrapper {
  //   width: 75%;
  // }
  .details-text {
    font-size: .85rem;
  }

// // -------------------------
// // header
// // -------------------------
// .desktop-nav {
//   display: block;
//   font-size: .85rem;
//   line-height: 40px;
//   li {
//     margin-left: 15px;
//     &:hover {
//       text-decoration: underline;
//     }
//   }
// }
// .pc-nav {
//   display: flex;
//   i {
//     line-height: 40px;
//     }
//   }
//   #header .header-wrap {
//     width: 75%;
//   }
  
//   .ranking-main-title {
//     width: 75%;
//   }

//   .mobile-nav {
//   display: none;
//   }
// -------------------------
// white-bg
// -------------------------
  // .white-bg {
  //   width: 100%;
  //   &-inner {
  //     width: 75%;
  //   }
  // }

  // #feature-banner,
  // #sale-banner {
  //   max-width: 800px;
  // }
  // #feature-banner {
  //   h2 {
  //     font-size: 1.8rem;
  //   }
  //   .feature-text-img {
  //     width: 80px;
  //   }
  // }

 .shop-item-wrap-flex {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .shop-item-wrap {
    width: 48.5%;
  }

  #feature .feature-text {
    font-size: 2.2rem;
  }
}

// -------------------------
// @media min 1100
// -------------------------

@media (min-width: 1100px) {
  .details-text {
    font-size: 1rem;
  }
}