$accent-color: #fffbcc;
$main-color: #707070;
$border-color: #cfcece;
$bg-color: #fff;
$sale-color: #eb3c10;

// -------------------------
// max 450
// -------------------------

// @media (max-width: 450px) {
//   // -------------------------
//   // Common
//   // -------------------------
//   .section-title {
//     font-size: 1.1rem;
//   }

//   // ------------------------
//   // main-visual
//   // ------------------------
//   .main-visual-text {
//     font-size: 1rem;
//   }
//    // ------------------------
//   // feature
//   // ------------------------
//   .feature-text-img {
//     width: 45px;
//   }

//   // ------------------------
//   // category
//   // ------------------------
//   .category-grid {
//     p {
//       font-size: .75rem;
//     }
//     img {
//       width: 15px;
//     }
//   }
// }


// @media (min-width: 1000px) {

//   // -------------------------
//   // common
//   // -------------------------
//   .wrapper {
//     width: 75%;
//   }

  // #feature-banner,
  // #sale-banner {
  //   max-width: 800px;
  // }
  // #feature-banner {
  //   h2 {
  //     font-size: 1.8rem;
  //   }
  //   .feature-text-img {
  //     width: 80px;
  //   }
  // }
// }