// -------------------------
// max 450
// -------------------------

@media (max-width: 450px) {
  // -------------------------
  // Common
  // -------------------------
  .section-title {
    font-size: 1.1rem;
  }
  
  // -------------------------
  // more
  // -------------------------
  .more {
    font-size: .8rem;
    width: 130px;
    margin: 10px -55px 0 auto;
  }
  
  // -------------------------
  // header
  // -------------------------

  #header {
    position: fixed;
    img {
    width: 250px;
    bottom: -6px;
    }
  }


  // -------------------------
  // hamburger menu
  // -------------------------
  .hamburger-menu {
    right: 13.5%;
  }

  .portfolio-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 15px;
    top: .5px;
  }



  // ------------------------
  // main-visual
  // ------------------------
  .main-visual-text {
    font-size: 1rem;
  }
  
  // ------------------------
  // feature
  // ------------------------
  .feature-text {
    font-size: .8rem;
    &-img {
      width: 45px;
    }
  }

  // ------------------------
  // category
  // ------------------------
  .category-grid {
    p {
      font-size: .75rem;
    }
    img {
      width: 15px;
    }
  }

  // ------------------------
  // shop-item
  // ------------------------
  .item-details {
    font-size: .7rem;
    height: 3.5rem;
  }

  // ------------------------
  // sale
  // ------------------------
  .sub-title {
    font-size: .8rem;
  }
  // ------------------------
  // ranking
  // ------------------------
  .ranking-title {
    font-size: 1rem;
  }


  // -------------------------
  // info
  // -------------------------
  #info-banner {
    .section-title {
      top: 10px;
    }
  }
  .info-text {
    font-size: .8rem;
    width: 100px;
    bottom: 5px;
    right: 0;
  }

  // -------------------------
  // news
  // -------------------------
  .news-wrap li {
    font-size: .8rem;
  }

  // -------------------------
  // sns
  // -------------------------
  .sns-wrap {
    .sns-icon {
      font-size: 28px;
    }
  }
  .sns-item {
    font-size: .8rem;
  }


// -------------------------
// footer
// -------------------------
#footer {
  padding-bottom: 0;
  .site-nav {
    & i {
      margin-right: 5px;
    }
  }
}
.footer-nav {
  font-size: .8rem;
}

#copy {
  font-size: .6rem;
}

.address {
    margin-bottom: 10px;
    &-item {
      margin-right: 15px;
    }
    & p {
      margin-bottom: 10px;
    }
  }
}