// -------------------------
// @media min 900
// -------------------------
@media (min-width: 1000px) {

// -------------------------
// common
// -------------------------
  .wrapper {
    width: 75%;
  }

  .white-bg {
    width: 100%;
    &-inner {
      width: 75%;
    }
  }

// -------------------------
// banner
// -------------------------
  #feature-banner,
  #sale-banner,
  #info {
    max-width: 800px;
  }
  #feature-banner {
    h2 {
      font-size: 1.8rem;
    }
    .feature-text-img {
      width: 80px;
    }
  }
  
// -------------------------
// header
// -------------------------
  #header{
    .header-wrap {
      width: 75%;
      display: flex;
    }
    .mobile-nav {
    display: none;
    }
  }
    
  .desktop-nav {
    display: block;
    line-height: 40px;
    font-size: .85rem;
    li {
      margin-left: 15px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .pc-nav {
    display: flex;
  }

  #search-form {
    width: 400px;
    padding: 1.5px;
    & .form-text {
      width: 85%;
    }
  }


// -------------------------
// main-visual
// -------------------------

  .main-visual {
    height: 400px;
  }
  .main-visual-text {
    font-size: 1.8rem;
    left: 11.5%;
  }


// -------------------------
// category
// -------------------------
  #category {
    .grid { 
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      & img {
        margin-left: 10%;
        margin-right: 5%;
      }
      & i {
        margin-right: 10%;
      }
      & a {
        padding: 15px 0;
      }
      & a:hover i {
        margin-right: 10%;
      }
    }
  }

// -------------------------
// shop-item
// -------------------------
  #select,
  #sale,
  #ranking {
    .shop-item-wrap-desk-top {
      display: block;
    }
  }

  .shop-item-wrap {
    width: 18%;
    max-width: 250px;
  }
  .ranking-wrap {
  .shop-item-wrap {
    width: 30%;
    max-width: 250px;
  }
}

  .ranking-desktop,
  .feature-desktop {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 75%;
    margin: {
      left: auto;
      right: auto;
    }
  }
  .ranking-wrap {
  width: 47%;
  margin: 0;
}

  .ranking-main-title {
    width: 75%;
  }


// -------------------------
// sns
// -------------------------
  #sns .fa-2x {
    font-size: 50px;
  }
}
